    <footer class="site-footer">

      <!-- footer logo -->
      <div class="footer_logo">
        <img src="/assets/footer-logo.png" alt="footer logo">
      </div>
      <!-- .//footer logo -->

      <!-- footer_nav -->
      <div class="footer_nav">
        <ul class="no-padding">

          <li>
            <a class="nav-link" href="index.html">Home</a>
          </li>
          <li class="active">
            <a class="nav-link" href="founder.html">Our Founders</a>
          </li>
          <li>
            <a class="nav-link" href="services.html">Services </a>
          </li>
          <li>
            <a class="nav-link" href="gallery.html">Project Gallery</a>
          </li>
          <li>
            <a class="nav-link" href="contact.html">Contact </a>
          </li>

        </ul>
      </div>
      <!-- footer_nav -->

      <!-- footer social -->
      <div class="footer_socail_nav">
        <ul>
          <li>
            <a href="#">
              <i class="fa fa-facebook"></i>
            </a>
          </li>

          <li>
            <a href="#">
              <i class="fa fa-twitter"></i>
            </a>
          </li>

          <li>
            <a href="#">
              <i class="fa fa-google-plus"></i>
            </a>
          </li>
        </ul>
      </div>
      <!-- .//footer social -->

      <div class="copyRights">
        © 2017 Green Energy. All Rights Reserved. <br>
        Developed By: <a href="http://www.bigtechideas.com">Bigtech Ideas</a>
      </div>
    </footer>