    <!-- our Founders  -->
    <section class="section our_founders text-center">
      <div class="container">
        <div class="row">

          <div class="col-md-12">
            <h3>our Founders </h3>
          </div>

          <div class="col-md-4">
            <div class="founder_box">

              <!-- founder_box image -->
              <div class="founder_box_image wow fadeIn">
                <img src="/assets/1.png" alt="Smith">
              </div>
              <!-- .//founder_box image -->

              <!-- founder_content -->
              <div class="founder_content">
                <h4>Smith</h4>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                </p>

                <a href="founders#founder01" class="borderButton hvr-sweep-to-right wow fadeInUp">
                  read more
                </a>
              </div>
              <!-- .//founder_content -->
            </div>
          </div>

          <div class="col-md-4">
            <div class="founder_box">

              <!-- founder_box image -->
              <div class="founder_box_image wow fadeIn">
                <img src="/assets/2.png" alt="Smith">
              </div>
              <!-- .//founder_box image -->

              <!-- founder_content -->
              <div class="founder_content">
                <h4>Hilton</h4>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                </p>

                <a href="founder.html#founder02" class="borderButton hvr-sweep-to-right wow fadeInUp">
                  read more
                </a>
              </div>
              <!-- .//founder_content -->
              
            </div>
          </div>

          <div class="col-md-4">
            <div class="founder_box">

              <!-- founder_box image -->
              <div class="founder_box_image wow fadeIn">
                <img src="/assets/3.png" alt="Smith">
              </div>
              <!-- .//founder_box image -->

              <!-- founder_content -->
              <div class="founder_content">
                <h4>Russell</h4>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                </p>

                <a href="founder.html#founder03" class="borderButton hvr-sweep-to-right wow fadeInUp">
                  read more
                </a>
              </div>
              <!-- .//founder_content -->
              
            </div>
          </div>

        </div>
      </div>
    </section>
    <!-- .//our Founders  -->