
    <!-- Our Projects -->
    <section class="section our_projects">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h3>Our Projects</h3>
          </div>
        </div>
        <ul class="no-padding"> 
          <li>
              <div class="project_pic">
                <a href="/assets/p-1.jpg" data-lightbox="example-set">
                  <div class="projectsAsBG wow fadeInLeft" style="background: url('/assets/p-1.jpg');"></div>
                </a>
              </div>
              <div class="project_pic">
                <a href="/assets/p-2.jpg" data-lightbox="example-set">
                  <div class="projectsAsBG wow fadeInLeft" style="background: url('/assets/p-2.jpg');"></div>
                </a>
              </div>
          </li>
          <li>
              <div class="project_pic">
                <a href="/assets/p-3.jpg" data-lightbox="example-set">
                  <div class="projectsAsBG wow fadeInLeft" style="background: url('/assets/p-3.jpg');"></div>
                </a>
              </div>
              <div class="project_pic">
                <a href="/assets/p-4.jpg" data-lightbox="example-set">
                  <div class="projectsAsBG wow fadeInLeft" style="background: url('/assets/p-4.jpg');"></div>
                </a>
              </div>
          </li>
        </ul>

        <div class="col-md-12">
          <a href="#" class="borderButton hvr-sweep-to-right wow fadeInUp">
            view all projects
          </a>
        </div>

      </div>
    </section>
    <!-- .//Our Projects -->