    <!-- home slider -->
    <section class="section page-heading no-padding">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12 no-padding">
            <div class="page_title" style="background: url('/assets/contact.jpg');">
              <h1>Contact</h1>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- .//home slider -->

    <!-- contact us -->
    <section class="contact_us section">
      <div class="container">
        <div class="row">

          <div class="col-md-12">
            <div class="contact_us">
              <div class="page_content wowload fadeInDown text-center">
                <h2>Get in Touch With Us</h2>
                <p>Please feel free to contact us. We would be delighted to help in any way that we can.</p>
              </div>
            </div>
          </div>


          <div class="col-md-4">
            <div class="contact_information wow fadeInLeftBig">
              <ul>

                <li> 
                  <strong>Adress</strong>
                    <p>loren ipsum loren ipsum loren ipsum loren ipsum</p>
                </li>

                <li>
                    <p>
                      <strong>Phone Number</strong>
                        <a href="tel:123 456 789">123 456 789</a>
                    </p>
                </li>

                <li> 
                   <p>
                      <strong>E-Mail</strong>
                        <a href="mailto:www.green.com">www.green.com </a>
                    </p>
                </li>

               <li> 

                  <strong>Social Media</strong>
                    <div class="socail_menu footer pull-left contact_us_page">
                      <ul>
                        <li>
                          <a href="#">
                            <i class="fa fa-facebook"></i>
                          </a>
                        </li>

                        <li>
                          <a href="#">
                            <i class="fa fa-twitter"></i>
                          </a>
                        </li>

                        <li>
                          <a href="#">
                            <i class="fa fa-google-plus"></i>
                          </a>
                        </li>
                      </ul>                           
                    </div>
                </li>
              </ul>
            </div>
          </div>  <!-- //.col-md-4 -->

          <div class="col-md-8">
            <div class="wowload fadeInRightBig animated">
              <div class="how-it-works-page">
                <div class="how-it-works-form wow fadeInRight">
                    <form method="post" action="">
                      <p><input type="text" name="name" placeholder="Name"></p>
                      <p class="half"><input type="tel" name="phone" placeholder="Phone"></p>
                      <p class="half"><input type="email" name="email" placeholder="Email"></p>
                      <p><textarea placeholder="Message"></textarea></p>
                      <span>
                        <input type="submit" name="submit" class="borderButton hvr-sweep-to-right wow fadeInUp animated">
                      </span>
                    </form>               
                </div>
              </div>
            </div>
          </div>  <!-- //.col-md-8 -->


		  </div>  <!-- //.row -->
      </div>  <!-- //.container -->
    </section>
    <!-- .//contact us -->