    <!-- home slider -->
    <section class="section page-heading no-padding">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12 no-padding">
            <div class="page_title" style="background: url('/assets/founder.jpg');">
              <h1>the trinity</h1>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- .//home slider -->

    <!-- home slider -->
    <section class="the-trinity detail_page">

        <!-- member panel -->
        <div class="member detail_page" id="founder01">
          <div class="container wowload fadeInDown animated">
            <div class="row">

              <div class="teams_members detail_page">

                <!-- image with custom col -->
                <div class="col-md-4">
                  <div class="founderImage">
                    <img src="/assets/Smith.png" alt="Smith">
                  </div>
                </div>
                <!-- .//image with custom col -->


                <!-- details with custom col -->
                <div class="col-md-8">

                  <div class="detail_page_panel">
                  <!-- member panel -->
                    <h2>
                      Smith
                    </h2>

                    <span class="about_member get_the_content ">
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>

                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>

                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>

                      </span>
                  </div>
                </div>  <!-- //.col-end --> 
                <!-- .//details with custom col -->

              </div>

            </div>  <!-- //.row -->
          </div>  <!-- //.container -->
        </div>  <!-- //.member panel -->

        <!-- member panel -->
        <div class="member detail_page" id="founder02">
          <div class="container wowload fadeInDown animated">
            <div class="row">

              <div class="teams_members detail_page">

                <!-- image with custom col -->
                <div class="col-md-4">
                  <div class="founderImage">
                    <img src="/assets/Hilton.png" alt="Smith">
                  </div>
                </div>
                <!-- .//image with custom col -->


                <!-- details with custom col -->
                <div class="col-md-8">

                  <div class="detail_page_panel">
                  <!-- member panel -->
                    <h2>
                      Hilton
                    </h2>

                    <span class="about_member get_the_content ">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>

                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>

                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>

                   </span>
                  </div>
                </div>  <!-- //.col-end --> 
                <!-- .//details with custom col -->

              </div>

            </div>  <!-- //.row -->
          </div>  <!-- //.container -->
        </div>  <!-- //.member panel -->

        <!-- member panel -->
        <div class="member detail_page" id="founder03">
          <div class="container wowload fadeInDown animated">
            <div class="row">

              <div class="teams_members detail_page">

                <!-- image with custom col -->
                <div class="col-md-4">
                  <div class="founderImage">
                    <img src="/assets/Smith.png" alt="Smith">
                  </div>
                </div>
                <!-- .//image with custom col -->


                <!-- details with custom col -->
                <div class="col-md-8">

                  <div class="detail_page_panel">
                  <!-- member panel -->
                    <h2>
                      Russell
                    </h2>

                    <span class="about_member get_the_content ">
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>

                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>

                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>

                   </span>
                  </div>
                </div>  <!-- //.col-end --> 
                <!-- .//details with custom col -->

              </div>

            </div>  <!-- //.row -->
          </div>  <!-- //.container -->
        </div>  <!-- //.member panel -->

    </section>
    <!-- .//home slider -->