    <!-- page title -->
    <section class="section page-heading no-padding">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12 no-padding">
            <div class="page_title" style="background: url('/assets/services.jpg');">
              <h1>services</h1>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- .//page title -->

    <!-- page content -->
    <div class="servicesSections">
    <section class="section">
      <div class="container">
        <div class="row">
          
          <div class="col-md-6">
            <div class="serviceText wow fadeInLeft">
              <h2>
                Land Development, Engineering, Finance Strategies
              </h2>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
              </p>
            </div>
          </div>
          
          <div class="col-md-6">
            <div class="serviceImage wow fadeInRight">
              <img src="/assets/service01.jpg" alt="service">
            </div>
          </div>

        </div>
      </div>
    </section>
    <section class="section">
      <div class="container">
        <div class="row">
          
          <div class="col-md-6">
            <div class="serviceImage wow fadeInLeft">
              <img src="/assets/service02.jpg" alt="service">
            </div>
          </div>

          <div class="col-md-6">
            <div class="serviceText wow fadeInRight">
              <h2>
                Engineering & Finance
              </h2>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
              </p>
            </div>
          </div>

        </div>
      </div>
    </section>
    </div>
    <!-- .//page content -->